*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #f6f8f9;
    font-family: Arial, Helvetica, sans-serif;
}

.Back-gr-color{
    background-color: #ffffff ;
}
img{
    height: 100%;

}
#Main-Title{
    vertical-align: top;
    font-weight: bolder;
    display: inline-block;
    font-size: 2.5rem;
}

nav{
    margin: 3rem 10rem .5rem 10rem;
    padding: 1rem 3rem .75rem 3rem;
    border-radius: .5rem .5rem .2rem .2rem;
}

button{
    border-radius: .35rem;
    padding: .3rem;
}

.button-blue{
    background-color: #44aae9;
    color: white;
}
.Button-white{
    background-color: white;
    color: #cbcbcb;

}

main{
    margin: 0rem 10rem .5rem 10rem;
    padding: 3rem 3rem .75rem 3rem;
    border-radius: .2rem .2rem .5rem .5rem;
}
ul{
    list-style: none;
}
section{
    padding-bottom: 3rem;
}
li{
    padding-bottom: 1.5rem;
}
h2{
    padding-bottom: 1rem;
}
.blue-box{
    background-color: #44aae9;
    border-radius: 5rem;
    color: white;
    padding:.4rem;
}

.lilla-box{
    background-color: #a57fe6;
    border-radius: 5rem;
    color: white;
    padding:.4rem;
}

.green-box{
    background-color: #7ecab8;
    border-radius: 5rem;
    color: white;
    padding:.4rem;
}

.orange-box{
    background-color: #f19c2f;
    border-radius: 5rem;
    color: white;
    padding:.4rem;
}

.pink-box{
    background-color: #d762a0;
    border-radius: 5rem;
    color: white;
    padding:.4rem;
}

.lime-box{
    background-color: #c5d762;
    border-radius: 5rem;
    color: white;
    padding:.4rem;
}